<%= render "shared/header"%>

<body>
  <main class="main">

    <div class="bar">
      <div class="side_bar">
        <%= render "shared/side_bar" %>
      </div>
      <div class="main_bar">
        <%= render "shared/main_bar" %>
      </div>
    </div>

  </main>
</body>



<%= render "shared/footer" %>